/* This style only for mobile */
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .gap > * {
    margin-bottom: 15px;
  }
  .header {
    margin-top: 30px;
  }
  .navbar ul {
    display: none;
  }
  .navbar i {
    display: block;
    font-size: 30px;
  }
  .explore-travel {
    /* background-size: cover; */
    width: 100%;
    min-height: 580px;
    background-position: center;
    background-size: cover;
  }
  .main-heading {
    font-size: 2rem;
  }
  .explore-content {
    top: 50%;
    width: 100%;
    text-align: center;
  }
  .explore-content .explore-input {
    width: 90%;
    flex-direction: column;
    height: 300px;
    border-radius: 10px;
    align-items: center;
  }
  .explore-content .explore-input input,
  select,
  button {
    width: 100%;
    margin-bottom: 9px;
    height: 60px;
    border-radius: 8px;
  }
  /* popular tour */
  .popular-tour {
    flex-direction: column;
    margin-top: 50px;
  }
  .popular-tour-content {
    width: 100%;
  }
  .popular-tour-img {
    width: 100%;
  }
  .popular-tour-img img {
    width: 100%;
  }
  .popular-tour-content .btn {
    width: 115px;
    height: 38px;
    border-radius: 5px;
  }
  .heading-section {
    font-size: 20px;
  }
  /* footer section start */

  .footer-des .paragraph-font-2 {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: 400px;
  }
  .social-media i {
    margin: 30px 10px;
  }
  .footer-container .s {
    margin-top: 30px;
  }
}
