/* This style only for mobile */
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
  .gap > * {
    margin-bottom: 15px;
  }
  .header {
    margin-top: 30px;
  }
  .navbar ul {
    display: none;
  }
  .navbar i {
    display: block;
    font-size: 30px;
  }
  .explore-travel {
    /* background-size: cover; */
    width: 100%;
    min-height: 580px;
    background-position: center;
    background-size: cover;
  }
  .main-heading {
    font-size: 2rem;
  }
  .explore-content {
    top: 50%;
    width: 100%;
    text-align: center;
  }
  .explore-content .explore-input {
    width: 90%;
    flex-direction: column;
    height: 300px;
    border-radius: 10px;
    align-items: center;
  }
  .explore-content .explore-input input,
  select,
  button {
    width: 100%;
    margin-bottom: 9px;
    height: 60px;
    border-radius: 8px;
  }
  /* popular tour */
  .popular-tour {
    flex-direction: column;
    margin-top: 50px;
  }
  .popular-tour-content {
    width: 100%;
  }
  .popular-tour-img {
    width: 100%;
  }
  .popular-tour-img img {
    width: 100%;
  }
  .popular-tour-content .btn {
    width: 115px;
    height: 38px;
    border-radius: 5px;
  }
  .heading-section {
    font-size: 20px;
  }

  /* why choose us */

  .choose-us-heading {
    width: 100%;
    margin-top: 20px;
  }
  .why-choose-us-card-1 {
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }
  .why-choose-us-card .card {
    width: 100%;
  }
  /* destination section */
  .destination-photo {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
  .destination-photo div {
    max-height: 300px;
    width: 100%;
  }
  .destination-photo img {
    width: 100%;
  }

  .place-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .place-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .place-3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .place-4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .place-5 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  .place-6 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }
  .place-7 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
  }

  /* Dels and Discound */
  .banner-image-1,
  .banner-image-2,
  .banner-image-3 {
    width: 100%;
    min-height: 580px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
  }
  .banner-section-2 {
    width: 100%;
  }
  .banner-inner-card-container {
    flex-direction: column;
  }
  .content {
    margin-top: 200px;
  }
  .reserved .banner-inner-card-container {
    flex-direction: column;
  }
  /* Newsletter-section */

  .Newsletter-section {
    width: 100%;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 400px;
  }
  .Newsletter-content {
    width: 100%;
  }
  .Newsletter-img {
    width: 100%;
  }
  .button {
    width: 204px;
    height: 100px;
    left: 60%;
    bottom: 15%;
  }
  /* event upcoming */
  .event-container {
    flex-direction: column;
    width: 100%;
  }
  .section-1,
  .section-2 {
    width: 100%;
  }
  .upcoming-event {
    margin-bottom: 550px;
  }
  /* parfect place */
  .perfect-place {
    flex-direction: column;
  }
  .perfect-place-heading .btn {
    width: 150px;
  }
  /* footer section start */

  .footer-des .paragraph-font-2 {
    width: 100%;
  }
  .footer {
    width: 100%;
    height: 400px;
  }
  .social-media i {
    margin: 30px 10px;
  }
  .footer-container .s {
    margin-top: 30px;
  }
}
@media screen and (max-width: 400px) {
  .button {
    width: 200px;
    height: 80px;
    left: 43%;
    bottom: 20%;
  }
  .upcoming-event {
    margin-bottom: 400px;
  }
}
@media screen and (max-width: 350px) {
  .button {
    width: 200px;
    height: 80px;
    left: 48%;
    bottom: 20%;
  }
  .upcoming-event {
    margin-bottom: 400px;
  }
}
