/* Shared style */
/* font style */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Mulish", sans-serif;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
.page-name {
  color: #131318;
  font-family: Mulish;
  font-size: 1.81rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
span {
  color: #ff5400;
}
/* Header section start */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: #424247;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
